@import './import/functions.styl'

rowHeight = 30px
spaceBetweenRows = 10px

html, body
	height 100%
	width 100%
	margin 0
	padding 0

h1, h2, h3, h4, h5
	margin 0
	padding 0

.timeline
	white-space nowrap

	ul
		margin 0
		padding 0

	ul.years, li.year, ul.months, li.month, ul.days, li.day
		inline-block()

	ul.years
		position absolute
		left 0
		right 0
		top 0
		bottom 0
		overflow hidden
		transition 250ms
		
		li.year
			ul.months
				li.month
					ul.days
						li.day
							display inline-block
							vertical-align top
							width 50px
							margin 0
							padding 5px
							padding-left 0
							height 100vh
							text-align center

							&:nth-child(even)
								background #EEE

								li.entry
									background #EEE

							&:nth-child(odd)
								background #DDD

								li.entry
									background #DDD

							h4
								color #AAA

							ul.entries
								list-style none
								position relative
								top 20px

								li.entry
									box-sizing border-box
									color white
									margin -8px
									padding 8px 8px 0 8px
									width auto !important
									line-height rowHeight
									position absolute
									border-radius 4px
									box-shadow 0 0 8px #444

									&:last-child
										.fader
											display none

									&.without-title
										padding-bottom 8px

										img
											height 100%


									.fader
										width: 50px;
										height: 20px;
										background: #EEE;
										margin-left: 0px;

									h5
										line-height 20%
										height 20%
										color #444

									img
										border-radius 4px
										height 80%

									&.entry
										left 0

									for num in (0..1000)	
										&.row{num}
											top num * (rowHeight + spaceBetweenRows)

									for num in (0..10)	
										&.colspan{num}
											width (num * 50) - 10px

									for num in (0..10)	
										&.rowspan{num}
											height (num * rowHeight) + ((num - 1) * 10)